In [0]:
# Criando um dataframe com dados fixos
dados = [
  ("Grimaldo", "Oliveira", "Brasileira", "Professor", "M", 3000),
  ("Ana", "Santos", "Portuguesa", "Atriz", "F", 4000),
  ("Roberto", "Carlos", "Brasileira", "Analista", "M", 4000),
  ("Maria", "Santanna", "Italiana", "Dentista", "F", 6000),
  ("Jeane", "Andrade", "Portuguesa", "Medica", "F", 7000)
]
colunas = ["Primeiro_Nome", "Ultimo_Nome", "Nacionalidade", "Trabalho", "Genero", "Salario"]
datafparquet = spark.createDataFrame(dados, colunas)
datafparquet.show()

+-------------+-----------+-------------+---------+------+-------+
|Primeiro_Nome|Ultimo_Nome|Nacionalidade| Trabalho|Genero|Salario|
+-------------+-----------+-------------+---------+------+-------+
|     Grimaldo|   Oliveira|   Brasileira|Professor|     M|   3000|
|          Ana|     Santos|   Portuguesa|    Atriz|     F|   4000|
|      Roberto|     Carlos|   Brasileira| Analista|     M|   4000|
|        Maria|   Santanna|     Italiana| Dentista|     F|   6000|
|        Jeane|    Andrade|     francesa|   Medica|     F|   7000|
+-------------+-----------+-------------+---------+------+-------+

In [0]:
# Criando o arquivo parquet
datafparquet.write.parquet("/FileStore/tables/parquet/pessoal.parquet")

In [0]:
# Permite uma atualização do arquivo parquet
datafparquet.write.mode("overwrite").parquet("/FileStore/tables/parquet/pessoal.parquet")

In [0]:
# Realizando uma atualização do arquivo parquet
datafleitura = spark.read.parquet("/FileStore/tables/parquet/pessoal.parquet")
datafleitura.show()

+-------------+-----------+-------------+---------+------+-------+
|Primeiro_Nome|Ultimo_Nome|Nacionalidade| Trabalho|Genero|Salario|
+-------------+-----------+-------------+---------+------+-------+
|     Grimaldo|   Oliveira|   Brasileira|Professor|     M|   3000|
|      Roberto|     Carlos|   Brasileira| Analista|     M|   4000|
|        Maria|   Santanna|     Italiana| Dentista|     F|   6000|
|        Jeane|    Andrade|     francesa|   Medica|     F|   7000|
|          Ana|     Santos|   Portuguesa|    Atriz|     F|   4000|
+-------------+-----------+-------------+---------+------+-------+

In [0]:
# Criando uma consulta em SQL
datafleitura.createOrReplaceTempView("Tabela_Parquet")
ResultSQL = spark.sql("SELECT * FROM Tabela_Parquet WHERE salario >= 6000")
ResultSQL.show()

+-------------+-----------+-------------+--------+------+-------+
|Primeiro_Nome|Ultimo_Nome|Nacionalidade|Trabalho|Genero|Salario|
+-------------+-----------+-------------+--------+------+-------+
|        Maria|   Santanna|     Italiana|Dentista|     F|   6000|
|        Jeane|    Andrade|     francesa|  Medica|     F|   7000|
+-------------+-----------+-------------+--------+------+-------+